<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero minima aliquid, cumque necessitatibus magnam quibusdam?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus rerum eveniet dicta odio tempora, doloremque quod nulla quibusdam vero totam!</p>
    <a href="https://www.facebook.com/JakousiClaw/" class="btn btn-primary">Gamaliel Bernal</a>
</div>