{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<!-- Comprobamos si existen errores y los pintaremos en caso de que sí. -->
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}} <!-- Puesto que definimos tipo text en users.controller. -->
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}